<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tarantulas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <h1>Molt</h1>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">🕷️ Spiders</a></li>
            <li><a href="{{ url_for('species') }}">🌍 Species</a></li>
            <li><a href="{{ url_for('add') }}">🕸️ Add Spider</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">
      <section class="panel">
        <h2>{{ 'Edit molts' if molt else 'Add molt' }}</h2>

<form method="post"
      action="{% if molt %}
                {{ url_for('edit_molt', spider_id=spider_id, molt_id=molt.id) }}
              {% else %}
                {{ url_for('add_molt', spider_id=spider_id) }}
              {% endif %}">

  <label>When?</label>
  <input type="date" name="date"
         value="{{ molt.date if molt else '' }}"
         required>

  <label>Note</label>
  <input type="text" name="note"
         value="{{ molt.note if molt else '' }}">

  <div class="form-actions">
    <button type="submit" class="btn">
      {{ '💾 Save Changes' if molt else '💾 Add molt' }}
    </button>

    <a href="{{ url_for('spider_detail', spider_id=spider_id) }}"
       class="btn">
       ❌ Cancel
    </a>
  </div>
</form>

        
</section>

        
      
    </main>

   <footer class="site-footer container">
  <small>
    Author:
    <a href="https://github.com/ar3s-xss"
       target="_blank"
       rel="noopener noreferrer">
       ar3s-xss
    </a>
  </small>
</footer>

  </body>
</html>
